<div class="container">
  <div class="row">
    <form action='/users/new' method='POST' class="form-horizontal signup-form">
      <div class="form-group">
        <label class="control-label col-sm-2 col-sm-offset-2" for="name">Full Name:</label>
        <div class="col-sm-5">
          <input type="text" name='name' id="name" value='<%=@name_res%>' placeholder="Enter name" class="form-control" required>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2 col-sm-offset-2" for="email">Email:</label>
        <div class="col-sm-5">
          <input type="email" name='email' id="email" value='<%=@email_res%>' placeholder="Enter email" class="form-control" required>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2 col-sm-offset-2" for="password">Password:</label>
        <div class="col-sm-5">
          <input type="password" name='password' id="password" placeholder="Create password" class="form-control" required>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2 col-sm-offset-2" for="password_confirmation">Confirm Password:</label>
        <div class="col-sm-5">
          <input type="password" name='password_confirmation' id="password_confirmation" placeholder="Confirm password" class="form-control" required>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
          <button type="submit" class="btn btn-default btn-details">Sign Up</button>
        </div>
      </div>
    </form>
  </div>
</div>
